# Environment
.env
config/gcp-key.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Airflow
logs/
airflow.db

# Docker
postgres-data/

# DBT
models/target/
models/dbt_packages/
models/logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
